# config file section for nosy
[nosy]
# Paths to check for changed files; changes cause nose to be run
base_path = cloudfusion
glob_patterns = *.py
exclude_patterns = pyfusebox*
extra_paths = setup.cfg
# Command line options to pass to nose
options = -x -v
# Command line arguments to pass to nose; e.g. part of test suite to run
tests = cloudfusion/tests/store_test.py

